@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ContosoProductsSearch.App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <AuthorizeView>
            @if (context.User.Identity is not null)
            {
                var prezzatore = context.User.Claims.Any(c => c.Type == "CodiceReparto" && c.Value == "IT-08");

                if (prezzatore)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="gestioneprezzi">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Imposta Prezzi
                        </NavLink>
                    </div>
                }
            }
        </AuthorizeView>
        <AuthorizeView>
            @if (context.User.Identity is not null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="customerdashboard">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Customer Dashboard
                    </NavLink>
                </div>
            }
        </AuthorizeView>

        <AuthorizeView>
            @if (context.User.Identity is not null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="infouser">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Utente
                    </NavLink>
                </div>
            }
        </AuthorizeView>

        <AuthorizeView>
            @if(context.User.Identity is not null)
            {
                var benzinatore = context.User.Claims.Any(c => c.Type == "AutoAziendale");

                if(benzinatore == true)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="rimborsobenzina">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Rimborso Benzina
                        </NavLink>
                    </div>
                }
            }

        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                @if(context.User is not null && context.User.IsInRole("Admin"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="weather">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="user_dashboard">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dashboard
                        </NavLink>
                    </div>
                }

              
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="/" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

