@page "/"
@using Microsoft.Extensions.Caching.Memory
@using ContosoProductsSearch.App.ExtensionMethods
@inject IMemoryCache memoryCache
@inject AuthenticationStateProvider authenticationStateProvider


<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        @if(context.User is not null && context.User.Claims != null)
        {
            @foreach (var item in context.User.Claims)
            {
                <p> @item.Type @item.Value </p>
            }
        }   

        <h3>Last login: @memoryCache.Get("lastLogin")</h3>
       
    </Authorized>

    <NotAuthorized>
        <p>You're not signed in.</p>
        <p>Sign in to see your products.</p>
    </NotAuthorized>
</AuthorizeView>

@code{

    private bool isUserAuthenticated;

    protected override void OnInitialized()
    {
        if (memoryCache.Get("lastLogin") is null)
        {
            var cacheEntry = memoryCache.Set("lastLogin", DateTime.Now, TimeSpan.FromMinutes(10));
        }

        

    }
}


