@page "/infouser"
@using ContosoProductsSearch.App.ExtensionMethods
@inject AuthenticationStateProvider authenticationStateProvider
@inject IConfiguration configuration
@if (isBirthday)
{
    <h3>Buon Compleanno!</h3>    
}

<h3>InfoUser</h3>

@code {
    private bool isBirthday;

    protected override async Task OnInitializedAsync()
    {
        var authestate = await authenticationStateProvider.GetAuthenticationStateAsync();
        var nomeClaim = configuration["ClaimCompleanno"];
        if (nomeClaim is not null)
        {
            isBirthday = authestate.IsBirthday(nomeClaim);
        }        
    }
}
