@using ContosoProductsSearch.Core.ViewModel
@if (Prodotto is not null)
{
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="alert alert-primary" role="alert">
                @Prodotto.NomeProdotto
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill @Prodotto.CssDiscountClass">
                    @Prodotto.Sconto
                </span>
            </div>
            <h5 class="card-title">@Categoria</h5>
            <del class="card-text ">@Prodotto?.PrezzoOriginario?.ToString("F2") €</del>
            <p class="card-text">@Prodotto?.PrezzoScontato?.ToString("F2") €</p>
        </div>
    </div>
}


@code {
    [Parameter] public ProdottoVM? Prodotto { get; set; }
    [Parameter] public string? Categoria { get; set; }
}
